<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <p>
        當前年份：<%= new Date().getFullYear().toString() %>
    </p>
    <%- include('./components/a.ejs') %>
        <img alt="" id="img1">
</body>

</html>