<header>
  <nav>
    <div class="container">
      <a href="#" class="logo">
        <h1>Hex School</h1>
      </a>
      <ul>
        <li class='<%= currentPage === "home" ? "active" : "" %>'><a href="/">首頁</a></li>
        <li class='<%= currentPage === "courses" ? "active" : "" %>'><a href="/courses">課程</a></li>
        <li class='<%= currentPage === "faq" ? "active" : "" %>'><a href="/faq">問答</a></li>
      </ul>
    </div>
  </nav>
</header>