<header>
  <nav>
    <div class="container">
      <a href="#/home" class="logo">
        <h1>Hex School</h1>
      </a>
      <ul>
        <li><a href="#/home">首頁</a></li>
        <li><a href="#/courses">課程</a></li>
        <li><a href="#/faq">問答</a></li>
      </ul>
    </div>
  </nav>
</header>