<div class="wrap">
  <header>
    <a href="" class="logo">
      <h1>Hex School</h1>
    </a>
    <ul>
      <li><a href="#/home">首頁</a></li>
      <li><a href="#/courses">課程</a></li>
      <li><a href="#/faq">問答</a></li>
    </ul>
  </header>

  <div class="banner bn-course">
    <h2>HTML、CSS開發網站</h2>
    <p>從無到有學會網頁設計</p>
    <a href="#">現在上課去　
      <i class="fa-solid fa-arrow-right"></i></a>
    <div class="img-course">
      <img src="https://raw.githubusercontent.com/hexschool/HTMLHWSource/master/mutiplePage/html.png" alt="html5">
      <img src="https://raw.githubusercontent.com/hexschool/HTMLHWSource/master/mutiplePage/CSS.png" alt="css3">
    </div>
  </div>

  <main>
    <div class="teacher">
      <img src="https://raw.githubusercontent.com/hexschool/HTMLHWSource/master/mutiplePage/teacher.png" alt="teacher">
      <h4>廖淯杰<br><span>老師</span></h4>
      <ul>
        <li>高雄前端社群發起人</li>
        <li>中華電信前端講師</li>
        <li>高雄大學前端講師</li>
        <li>十年實務經驗</li>
        <li>授課時數超過一千小時</li>
      </ul>
    </div>
    <div class="advantage">
      <div class="title">
        <h2>這堂課有什麼特別的？
          <span>六角課程的四大優點</span>
        </h2>
      </div>
      <ol>
        <li>有能力排出具專業、語意化、美觀的網頁設計</li>
        <li>課程結束後，會提供給你一個完整的網頁設計稿，當你時做出網頁後，就可以轉交給六角學院的講師們進行程式碼審視，以確保你吸收的網頁排版觀念是正確的。</li>
        <li>了解設計網頁的脈絡，你隨時可以在社群裡發問問題，我們永遠都會在這裡！</li>
        <li>獲得持續更新的講義教材，終身副。席不會脫離趨勢的現代化線上課程。</li>
      </ol>
    </div>
    <div class="agenda">
      <div class="title">
        <h2>課程大綱
          <span>最扎實的學習內容編排</span>
        </h2>
      </div>
      <ul>
        <li>章節標題</li>
        <li>網頁編輯器、HTML基礎教學</li>
        <li>CSS常用語法</li>
        <li>使用CSS變更HTML標籤特性</li>
        <li>網頁排版技巧 PartI</li>
        <li>網頁排版技巧 PartII</li>
        <li>切圖技巧</li>
        <li>表格與表單設計技巧</li>
        <li>CSS3技巧</li>
        <li>最後，讓你的網頁變得更專業</li>
        <li>課程作業</li>
      </ul>
    </div>
  </main>
  <div class="cta">
    <p>心動不如馬上行動！<br>現在就成為我們的學生吧</p>
    <a href="#">馬上去註冊　<i class="fa-solid fa-arrow-right"></i></a>
  </div>

  <footer>
    <div class="copyright">
      <img src="https://raw.githubusercontent.com/hexschool/HTMLHWSource/master/mutiplePage/logo.png" alt="">
      <p>&copy; 2018 hexschool</p>
    </div>
    <ul>
      <li><a href=""><img src="https://raw.githubusercontent.com/hexschool/HTMLHWSource/master/mutiplePage/fb.png"
            alt=""></a></li>
      <li><a href=""><img src="https://raw.githubusercontent.com/hexschool/HTMLHWSource/master/mutiplePage/tw.png"
            alt=""></a></li>
      <li><a href=""><img src="https://raw.githubusercontent.com/hexschool/HTMLHWSource/master/mutiplePage/ig.png"
            alt=""></a></li>
    </ul>
  </footer>
</div>