<div class="banner course"
  style='background-image: url("https://raw.githubusercontent.com/hexschool/HTMLHWSource/master/mutiplePage/bg_course.png");'>
  <div class="container">
    <div class="content">
      <h2>HTML、CSS開發網站</h2>
      <p>從無到有學會網頁設計</p>
      <a href="#" class='btn'>
        現在上課去
        <i class="fa-solid fa-arrow-right"></i>
      </a>
      <div class="icon-group">
        <img src="https://raw.githubusercontent.com/hexschool/HTMLHWSource/master/mutiplePage/html.png" alt="html5">
        <img src="https://raw.githubusercontent.com/hexschool/HTMLHWSource/master/mutiplePage/CSS.png" alt="css3">
      </div>
    </div>
  </div>
</div>

<main class='container course'>
  <section class="teacher">
    <div class="people">
      <div class="img-wrapper">
      </div>
      <h4>廖淯杰<br><span>老師</span></h4>
    </div>
    <ul>
      <li>高雄前端社群發起人</li>
      <li>中華電信前端講師</li>
      <li>高雄大學前端講師</li>
      <li>十年實務經驗</li>
      <li>授課時數超過一千小時</li>
    </ul>
  </section>
  <section class="advantage">
    <div class="title">
      <h2>這堂課有什麼特別的？
        <span>六角課程的四大優點</span>
      </h2>
    </div>
    <ol>
      <li>有能力排出具專業、語意化、美觀的網頁設計</li>
      <li>課程結束後，會提供給你一個完整的網頁設計稿，當你時做出網頁後，就可以轉交給六角學院的講師們進行程式碼審視，以確保你吸收的網頁排版觀念是正確的。</li>
      <li>了解設計網頁的脈絡，你隨時可以在社群裡發問問題，我們永遠都會在這裡！</li>
      <li>獲得持續更新的講義教材，終身副。席不會脫離趨勢的現代化線上課程。</li>
    </ol>
  </section>
  <section class="agenda">
    <div class="title">
      <h2>課程大綱
        <span>最扎實的學習內容編排</span>
      </h2>
    </div>
    <ul>
      <li>章節標題</li>
      <li>網頁編輯器、HTML基礎教學</li>
      <li>CSS常用語法</li>
      <li>使用CSS變更HTML標籤特性</li>
      <li>網頁排版技巧 PartI</li>
      <li>網頁排版技巧 PartII</li>
      <li>切圖技巧</li>
      <li>表格與表單設計技巧</li>
      <li>CSS3技巧</li>
      <li>最後，讓你的網頁變得更專業</li>
      <li>課程作業</li>
    </ul>
  </section>
</main>

<div class="form course">
  <div class="container">
    <p>心動不如馬上行動！<br>
      現在就成為我們的學生吧</p>
    <div class="contact">
      <button class='btn'>
        馬上去註冊<i class="fa-solid fa-arrow-right"></i>
      </button>
    </div>
  </div>