<div class="wrap">
  <header>
    <a href="" class="logo">
      <h1>Hex School</h1>
    </a>
    <ul>
      <li><a href="#/home">首頁</a></li>
      <li><a href="#/courses">課程</a></li>
      <li><a href="#/faq">問答</a></li>
    </ul>
  </header>

  <div class="banner bn-qa">
    <h2>遇到問題了嗎？</h2>
    <p>別擔心，你想找的答案都在這裡！</p>
    <input type="text" id="search" placeholder="請輸入您的問題">
  </div>

  <main>
    <div class="title qa-margin">
      <h2>常見問題#
        <span>你想問的說不定也在這裡</span>
      </h2>
    </div>
    <div class="qa">
      <p class="question">Q：為什麼你們要用Udemy放你們的影音課程，他有什麼好處嗎？</p>
      <p class="answer">
        A：他除了可上傳影音課程外，同時也能上傳我們設計出來的範例程式碼、設計單選題目，並能在IOS、Android上面學習，同時也能追蹤每位學生的學習機制，讓我們放心挑選Udemy作為我們的教學平台。</p>
    </div>
    <div class="qa">
      <p class="question">Q：影片課程有時效性嗎？</p>
      <p class="answer">A：完全沒有，此課程提供終身複習服務，你隨時可聽到我們即時更新的影音課程內容。</p>
    </div>
    <div class="qa">
      <p class="question">Q：我很擔心學完後還是學不會網頁設計，有什麼辦法嗎？</p>
      <p class="answer">A：課程結束後我們會提供給你網頁設計稿，完成後mail給我們 <a href="mailto:service@hexschool.com">service@hexschool.com</a>
        ，我們會替你進行程式碼檢視，以確保你的觀念吸收正確。</p>
    </div>

    <div class="title qa-margin">
      <h2>怎麼付款#
        <span>付款方式保證最多元</span>
      </h2>
    </div>
    <div class="qa">
      <p class="question">Q：請問可以分期付款嗎？
      <p class="answer">A：當然沒問題，在本平台購買我們最高提供6期分期。</p>
      <ol>
        <li>選擇產品後</li>
        <li>在進入金流平台付款時可選擇信用卡分期付款</li>
        <li>選擇期數，旁邊會附註每期應付款項</li>
      </ol>
      </p>
    </div>
    <div class="qa">
      <p class="question">Q：我沒有信用卡，有沒有其他匯款方案？</p>
      <p class="answer">A：每個課程現在都提供了其他付款方式，在課程連結旁邊就可以找到這個其他付款方式，而且我們是採用台灣第三方支付，安全又可靠。</p>
    </div>
    <div class="qa ">
      <p class="question">Q：採用其他付款流程，但還沒有收到課程怎麼辦？</p>
      <p class="answer">A：課程會在48小時內寄出，如果沒有收到可以透過右下角的客服，或直接mail至我們的信箱<a
          href="mailto:service@hexschool.com">service@hexschool.com</a>，我們會盡快處裡以保障您的權益。</p>
    </div>

    <div class="title qa-margin">
      <h2>我想退款#
        <span>期待你再次成為我們的學生</span>
      </h2>
    </div>
    <div class="qa">
      <p class="question">Q：如果怕線上影音課程吸收不好，可以要求退費嗎？</p>
      <p class="answer">A：沒問題！Udemy在30天內都可以申請退款！</p>
    </div>
    <div class="qa">
      <p class="question">Q：Udemy如何退款？</p>
      <p class="answer">A：透過Udemy的課程頁面的 選項 下即可使用退款功能</p>
    </div>
    <div class="qa">
      <p class="question">Q：其他支付流程如何退款？</p>
      <p class="answer">A：請發信到<a href="mailto:service@hexschool.com">service@hexschool.com</a>並詳著以下內容：</p>
      <ul>
        <li>退款帳戶</li>
        <li>Udemy用戶名稱</li>
        <li>購買時間</li>
        <li>退款原因</li>
      </ul>
      <span>接下來，我們會有專人協助退款。退款後請注意：</span>
      <ul>
        <li>退款會酌收第三方支付手續費，信用卡一次付清2.8%、分三期3%、分六期3.5%、分12期7%、ATM為1%、超商為28元。</li>
        <li>退款後亦不能參與任何線上討論以及每周的線上問答。</li>
        <li>退款後的學員再下次購買時，我們會先提供測試帳號7天再次鑑賞，確認該學員有需上這門課程，才能購買該次課程。</li>
      </ul>
    </div>

    <div class="qa-form">
      <p>找不到您的問題嗎？<br>
        直接寄信給我們解決吧！</p>
      <div class="contact">
        <input type="text" id="name" placeholder="你的名字是？">
        <input type="email" id="email" placeholder="example@mail.com.tw">
        <textarea id="msg" placeholder="你遇到什麼困難呢?" required></textarea>
        <input type="submit" id="submit" value="送　出">
      </div>
    </div>

  </main>

  <footer>
    <div class="copyright">
      <img src="https://raw.githubusercontent.com/hexschool/HTMLHWSource/master/mutiplePage/logo.png" alt="">
      <p>&copy; 2018 hexschool</p>
    </div>
    <ul>
      <li><a href=""><img src="https://raw.githubusercontent.com/hexschool/HTMLHWSource/master/mutiplePage/fb.png"
            alt=""></a></li>
      <li><a href=""><img src="https://raw.githubusercontent.com/hexschool/HTMLHWSource/master/mutiplePage/tw.png"
            alt=""></a></li>
      <li><a href=""><img src="https://raw.githubusercontent.com/hexschool/HTMLHWSource/master/mutiplePage/ig.png"
            alt=""></a></li>
    </ul>
  </footer>
</div>